 .filter-container {
    margin-bottom: 10px;
  }
  
 .filter-label {
    margin-right: 10px;
    font-weight: bold;
 }
  
 .filter-select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
 }